@import url("https://fonts.googleapis.com/css2?family=Sriracha&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    @apply max-w-[1440px] mx-auto p-5 lg:px-8;
  }
  .font-sr {
    font-family: "Sriracha", cursive;
    font-weight: 900;
    font-style: normal;
  }
}
